<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Secure Contain Protect</title>
</head>
<body>

 <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start">
 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth">Authenticate</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="/">
                  <img src="/images/scpemblem.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    SCP Foundation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth">Authenticate</a> 
            </li>
        </ul>
        
    </div>
</nav>

<div class="container mt-4">

    {{{body}}}
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>SCP Foundata Website created by Brian "bmurdata" Murphy<br>
SCP Foundation and all related works were created by <a href="http://scp-wiki.net/">SCP creative community</a> 
and are available under <a href="https://creativecommons.org/licenses/by-sa/3.0/deed">CC BY-SA 3.0 license</a>
        </small>
    </div>
  </footer>
</body>
</html>