<title>About</title>
<div class="mb-4">
    <p>The SCP Foundata Project is an attempt at simulating the  SCP Foundation <a href="http://www.scp-wiki.net/security-clearance-levels">access levels.<a/> </p>
    <p>Simply put, they range from zero to five, and define who can access what parts of an article. In the SCP Wiki, this is mostly done via dropdowns and such, 
        with nothing really being restricted(outside of a few puzzle scp and the like). 
    </p>
</div>
